ANGEL_API_KEY=
ANGEL_CLIENT_ID=
ANGEL_PASSWORD=
ANGEL_TOTP_SECRET=
DHAN_ACCESS_TOKEN=
DHAN_CLIENT_ID=
ARROW_APP_ID=
ARROW_APP_SECRET=
SUPABASE_KEY=
SUPABASE_URL=
TRADINGVIEW_USERNAME=
TRADINGVIEW_PASSWORD=

