fastapi
uvicorn
pandas
tradingview-screener
tvscreener==0.4.0
python-multipart
yfinance
pyotp
cryptography
requests
angel-one==1.0.7
websocket-client==1.6.1
python-dotenv==1.0.0
pydantic==2.5.0
httpx==0.25.0
websockets>=12.0